<nav>
    <div>
        <ul>
            <li><a class="brand" href="/">Mylo</a></li>
            <li><a class="nav-item <%= title == " Home".replace(/\s+/g, '' ) ? "active" :"" %>" href="/">Home</a></li>
            <li><a class="nav-item <%= title == " Sandbox".replace(/\s+/g, '' ) ? "active" :"" %>"
                    href="/sandbox">Sandbox</a></li>
            <li style="float:right"><a id="login-btn">Login</a></li>
        </ul>
    </div>
</nav>
<div class="after-nav"></div>


<!-- <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sandbox">Sandbox</a></li>
    <li><a href=""></a></li>
</ul> -->