<nav>
    <div>
        <ul>
            <li><a class="brand" href="/">Mylo</a></li>
            <li><a class="nav-item <%= title == " Home".replace(/\s+/g, '' ) ? "active" :"" %>" href="/">Home</a></li>
            <li><a class="nav-item <%= title == " Sandbox".replace(/\s+/g, '' ) ? "active" :"" %>"
                    href="/sandbox">Sandbox</a></li>
            <li style="float:right"><a id="loginBtn1">Login</a></li>
            <li style="float:right"><a id="registerBtn1">Register</a></li>
        </ul>
    </div>
</nav>
<div class="after-nav"></div>
<!-- Login Modal -->
<div id="loginModal" class="modal">
    <div class="modal-container">
        <span class="close" id="loginClose">&times;</span>
        <h1>Login</h1>
        <form action="">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="username">Password</label>
            <input type="password" name="password" id="password">
            <input type="checkbox" name="remember" id="login-remember" />
            <label for="login-remember" style="-moz-user-select: none;-webkit-user-select: none;"
                onselectstart="return false;">Remember my email</label>
            <div class="modalBtnContainer">
                <button type="submit">Login</button>
            </div>
            <div class="addition-row">
                <a id="forgotPasswordBtn">Forgot Password?</a>
                <a id="registerBtn2">Register</a>
            </div>

        </form>
    </div>
</div>
<!-- Register Modal -->
<div id="registerModal" class="modal">
    <div class="modal-container">
        <span class="close" id="registerClose">&times;</span>
        <h1>Register</h1>
        <form action="">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="username">Password</label>
            <input type="password" name="password" id="password">
            <div class="modalBtnContainer">
                <button type="submit">Register</button>
            </div>

            <a id="loginBtn2">Login</a>
        </form>
    </div>
</div>
<!-- Forgot Password Modal -->
<div id="forgotPasswordModal" class="modal">
    <div class="modal-container">
        <span class="close" id="forgotPasswordClose">&times;</span>
        <h1>Forgot Password</h1>
        <form action="">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <div class="modalBtnContainer">
                <button id="verifyBtn">Send</button>
            </div>
        </form>
    </div>
</div>

<div id="verifyModal" class="modal">
    <div class="modal-container">
        <span class="close" id="verifyClose">&times;</span>
        <h1>Enter Code</h1>
        <form action="">
            <label for="text">Code</label>
            <input type="text" name="verifyCode" id="verifyCode">
            <div class="modalBtnContainer">
                <button id="resetPasswordBtn">Verify</button>
            </div>
        </form>
    </div>
</div>

<div id="resetPasswordModal" class="modal">
    <div class="modal-container">
        <span class="close" id="resetPasswordClose">&times;</span>
        <h1>Reset Password</h1>
        <form action="">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password">
            <div class="modalBtnContainer">
                <button type="submit">Reset</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/modal.js"></script>