<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <div class="container">
                <h1>
                    <%= title.toUpperCase() %>
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eos illo incidunt velit reprehenderit
                    necessitatibus animi, modi temporibus quibusdam quam, asperiores libero voluptate, labore eius ut
                    repellendus cupiditate consequuntur commodi.
                </p>
            </div>
    </body>

    <%- include("partials/footer") %>