<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>

            <div class="container">
                <h1>
                    <%= title.toUpperCase() %>
                </h1>
                <button id="myBtn">Open Modal</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Some text in the Modal..</p>
                    </div>

                </div>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eos illo incidunt velit reprehenderit
                    necessitatibus animi, modi temporibus quibusdam quam, asperiores libero voluptate, labore eius ut
                    repellendus cupiditate consequuntur commodi.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus obcaecati ex, quae accusamus
                    nam veritatis quis. Deserunt maxime totam dolorem atque itaque magni repellat! Fugit doloremque
                    incidunt aliquid officia laudantium?
                    Fugiat quia provident, ratione porro quos vitae expedita a ullam, accusantium, officia consequatur?
                    Non ducimus hic est voluptatibus aliquid. Quo iure quod dolore, hic quam vel dolores dicta corporis
                    nisi!
                    Voluptatem, sunt debitis. Illum amet nesciunt asperiores voluptatibus ea rem, maiores odit. Iusto ex
                    saepe blanditiis animi vitae excepturi, nihil, nobis rerum, incidunt repudiandae itaque! Hic dicta
                    blanditiis eius maxime?
                    Non omnis necessitatibus molestiae impedit. Porro voluptatibus doloribus sit eveniet odio nemo
                    dolorum ea architecto, repellendus quos voluptas expedita id voluptatum veniam sapiente sequi.
                    Dolores ipsum optio cum id dicta!
                    Velit illum voluptate eos esse, eius corporis autem ipsum sunt, beatae hic neque inventore
                    consequuntur aperiam rem magnam voluptates qui molestias quas quia optio ab enim voluptas. Nam, esse
                    quasi!
                    Quidem mollitia quia, illo obcaecati deserunt dolores natus accusantium nihil veniam vitae
                    dignissimos delectus illum sit. Repudiandae quo, nihil aliquid, sed, in explicabo neque ipsum
                    asperiores error exercitationem nisi fuga.
                    Nesciunt doloremque nihil corporis hic animi cumque, quod quam ullam voluptatem pariatur vero! Culpa
                    cupiditate, similique odio corporis hic distinctio minima molestias, repellat enim excepturi
                    pariatur deserunt, ipsam vero quis.
                    Doloremque tempora ea quisquam! At quia voluptatum repellendus commodi, atque ab quam, facilis
                    eligendi deserunt quaerat accusamus maiores molestiae aliquam excepturi fuga qui provident quod
                    numquam? Quaerat tempore aperiam eveniet!
                    Consectetur, inventore. Atque quod explicabo architecto vel cumque perspiciatis nam qui a.
                    Voluptatibus harum ea cupiditate ab aliquid consequatur obcaecati sunt! Perspiciatis consequuntur
                    rem eligendi repudiandae fugit quidem quam unde.
                    Exercitationem obcaecati, excepturi quod reiciendis id, error sed eligendi itaque aperiam debitis
                    voluptatibus nihil ex eaque blanditiis. Deleniti harum quibusdam velit aspernatur reiciendis quaerat
                    excepturi, impedit consequatur voluptas amet atque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet libero temporibus omnis debitis
                    ullam provident accusamus repudiandae nam. Natus at unde consectetur illo, animi id doloremque
                    cupiditate incidunt soluta aliquam.
                    Minima odio voluptatibus perspiciatis quos animi, alias dicta dolor ipsum a harum consectetur sequi
                    magnam, quod debitis neque incidunt itaque. Similique eius dolores reprehenderit nobis cumque
                    voluptate praesentium in blanditiis?
                    Sint possimus, asperiores ipsam at doloribus libero, obcaecati corrupti temporibus debitis cum,
                    repudiandae ipsa tempore cupiditate esse saepe! Aliquam qui iure recusandae earum iusto
                    necessitatibus maxime cum repellendus nulla. Omnis?
                    Nisi deserunt consequatur illo atque omnis cumque! Suscipit porro quidem sequi labore, dolores ipsa
                    earum ducimus minima, culpa harum quos recusandae maiores commodi consequuntur. A at atque quisquam
                    cum eum?
                    Labore ea error magnam eum magni quae explicabo deleniti sint, culpa natus quisquam doloribus est
                    expedita voluptate suscipit vero. Recusandae tempore eius culpa corporis cumque quis commodi,
                    voluptatibus incidunt ab.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quia ad dolores similique fuga!
                    Nemo, sapiente blanditiis! Enim eligendi accusantium minima illum, corrupti voluptatibus provident
                    nobis excepturi sit saepe dolorem!
                    Minus corporis ipsum sequi, quas recusandae cupiditate aliquam mollitia. Ex voluptatem quia
                    perspiciatis libero, tenetur vitae dolorum maxime sunt itaque repellendus cumque eos fugiat
                    veritatis accusamus omnis distinctio laudantium quos?
                    Laudantium aperiam incidunt dolor ea ipsa amet, voluptatibus veniam rem harum! Sunt consectetur
                    optio, harum commodi delectus quisquam dicta praesentium ipsum? Ad, cupiditate? Ducimus dicta
                    laboriosam cum numquam quidem quae.
                    Suscipit commodi pariatur voluptate velit. Rerum cupiditate adipisci recusandae, ipsum vel
                    consequuntur nam quidem commodi similique eos cum rem quisquam molestiae porro libero, ut molestias
                    officiis magnam ducimus odio voluptas!
                    Veniam libero alias, quos aperiam ad explicabo, sit adipisci corrupti dicta expedita quaerat
                    quisquam quasi id odio, natus non culpa corporis soluta dolorum. Reiciendis alias tempora doloribus
                    sit! Maiores, consectetur.
                    Sit omnis doloribus, earum aliquam sed beatae optio culpa rerum adipisci quia delectus ea.
                    Repudiandae excepturi omnis at recusandae dolorem corrupti alias eum, ut, eaque maxime voluptatibus,
                    perspiciatis vitae earum.
                    Animi ad voluptate, culpa a veritatis rerum voluptatum eos hic amet veniam deserunt iure accusamus
                    necessitatibus provident error officiis labore illum autem atque numquam aut nisi nemo tempore.
                    Amet, vel?
                    Eum et qui sequi veritatis eligendi consequatur quas facilis quam corrupti, perspiciatis obcaecati
                    tempora dolore accusantium fugit nobis ullam quae doloribus libero expedita incidunt quos adipisci
                    aut doloremque. Alias, non?
                    Incidunt non quae repudiandae eligendi reprehenderit facere perspiciatis earum fuga sequi ab ex
                    quasi provident commodi placeat nam eaque consectetur vitae quaerat totam, recusandae eos doloribus
                    voluptate temporibus nostrum. Itaque.
                    Aperiam consequuntur deleniti libero eveniet sequi dolorum maxime eius magnam unde itaque. Ut
                    voluptatibus est et esse iusto blanditiis quod velit exercitationem soluta sapiente repudiandae non
                    deserunt, dicta autem minus?
                    Corrupti et quas voluptate provident nam voluptates doloribus, libero animi voluptas aliquam soluta
                    fuga beatae sit ad aspernatur vel. Fugiat nihil consequatur, quo earum quod hic nobis quas nam
                    inventore!
                    Aperiam, labore et. Incidunt illo praesentium temporibus ex modi aliquid quia ullam distinctio
                    deserunt tempore ratione pariatur, voluptas magnam iusto quasi ab ducimus facilis suscipit qui
                    soluta veniam vel velit!
                    Accusantium cupiditate inventore error reiciendis cum laborum ratione facilis adipisci neque maiores
                    exercitationem, reprehenderit deleniti explicabo, veritatis mollitia quidem velit, praesentium
                    voluptate illo cumque quam. Quas aspernatur totam tenetur impedit.
                    Nesciunt explicabo vel nemo, laborum facere deleniti! Suscipit ratione, non eligendi officia soluta
                    officiis deserunt temporibus enim eos, quia labore placeat aspernatur rerum possimus accusamus
                    debitis. Iure natus soluta maiores.
                    Dicta totam officiis doloribus laborum deleniti fuga enim aliquam culpa in quia, quisquam suscipit.
                    Eos adipisci nisi sit facere veniam quisquam? Sed iste impedit quam sunt rem beatae deserunt nemo.
                    Facere in incidunt ipsam eius, minus ducimus ea repudiandae dolorum optio numquam odio voluptas,
                    impedit repellendus eum sit commodi fuga alias quasi. Animi maiores quae atque, beatae iure
                    consequuntur natus!
                    Accusantium sed iusto vitae earum dolor suscipit blanditiis omnis adipisci numquam esse,
                    voluptatibus vero optio quaerat odit, perspiciatis minima libero vel quibusdam rem officiis sint
                    provident enim ut veniam? Commodi.
                    Praesentium illum laudantium vel hic ab temporibus id, doloremque, delectus magnam consequuntur ea
                    deserunt! Nulla dicta pariatur perspiciatis veniam labore impedit ea, delectus vitae laboriosam
                    accusamus! Excepturi expedita atque possimus.
                    Quas maiores necessitatibus recusandae laborum. Iste voluptatum nostrum ad explicabo nulla soluta,
                    id impedit necessitatibus repellendus natus quidem voluptates optio maiores tenetur assumenda modi
                    rem facilis fugit quibusdam iusto! Officiis!
                    Omnis eligendi at rerum numquam expedita suscipit obcaecati commodi delectus iusto molestias,
                    placeat asperiores dicta quis dolorem nam rem sed eveniet minus fugiat. Magni maxime sequi eveniet?
                    Quo, assumenda praesentium.
                </p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Launch static backdrop modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    </body>

    <%- include("partials/footer") %>